html, body {
    margin: 0px;
    height: 100%;
    background-color: #E5E5E5;
}

header {
    padding: 1.3em 0 1em 2em;
}

#logo {
    margin-left: 1em;
    padding: 0 1em;
}

main{
    height: 90%;
}

.botones-juego {
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#empezar-juego {
    margin-bottom: 1em;
    font-size: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    width: 30%;
    height: 115px;
    border-radius: 25px;
    color: #E5E5E5;
    background-color: #0A3871;
    border-style: solid;
    border-color: #0A3871;
    cursor: pointer;
    transition: 0.4s all;
}

#agregar-palabra {
    margin-top: 1em;
    font-size: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    width: 23%;
    height: 115px;
    border-radius: 25px;
    color: #0A3871;
    background-color: #E5E5E5;
    border-style: solid;
    border-color: #0A3871;
    cursor: pointer;
    transition: 0.4s all;
}

#empezar-juego:hover {
    transform: scale(1.05);
}

#empezar-juego:active {
    background-color: rgb(10, 20, 113);
    border-color: rgb(10, 20, 113);
    transition: 0ms;
    transition-delay: 0ms;
}

/*Recordatorio, tienen que estar todos juntos para que funcione "x:hover"*/

#agregar-palabra:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

#agregar-palabra:active {
    background-color: rgb(33, 210, 241);
    border-color: rgb(10, 20, 113);
    transition: 0ms;
    transition-delay: 0ms;
}

#objetoOcultoJuego {
    display: none;
}

footer {
    text-align: center;
    padding: 2em 0;
}