html, body {
    margin: 0px;
    height: 100%;
    background-color: #E5E5E5;
}

::-webkit-scrollbar{
    background-color: #E9ECF8;
    width: 0.5em;
}

::-webkit-scrollbar-thumb{
    background-color: #597C9B;
    border-radius: 22px;
}

header {
    padding: 1.3em 0 1em 2em;
}

#logo {
    margin-left: 1em;
    padding: 0 1em;
}

main{
    height: 90%;
}

.botones-juego {
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#empezar-juego {
    margin-bottom: 1em;
    font-size: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    width: 30%;
    height: 115px;
    border-radius: 25px;
    color: #E5E5E5;
    background-color: #0A3871;
    border-style: solid;
    border-color: #0A3871;
    cursor: pointer;
    transition: 0.4s transform;
    transition: 100ms border-color background-color;
}

#agregar-palabra {
    margin-top: 1em;
    font-size: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    width: 23%;
    height: 115px;
    border-radius: 25px;
    color: #0A3871;
    background-color: #E5E5E5;
    border-style: solid;
    border-color: #0A3871;
    cursor: pointer;
    transition: 0.4s transform;
    transition: 100ms border-color background-color;
}

#empezar-juego:hover {
    transform: scale(1.05);
}

#empezar-juego:active {
    background-color: rgb(10, 20, 113);
    border-color: rgb(10, 20, 113);
}

/*Recordatorio, tienen que estar todos juntos para que funcione "x:hover"*/

#agregar-palabra:hover{
    transform: scale(1.05);
}

#agregar-palabra:active {
    background-color: #8cadca;
    border-color: rgb(10, 20, 113);
}

#objetoOcultoJuego {
    display: none;
    height: 100%;
}

footer {
    text-align: center;
    padding: 4em 0 1em 0;
}

/*pagina del juego*/

#grafica-dibujo {
    height: 70%;
    justify-content: center;
    align-items: end;
    display: block;
    position: relative;
}

#base {
    width: 30%;
    border: 3px solid #0A3871;
    background-color: #0A3871;
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 15%);
}

#soporte {
    width: 0;
    height: 85%;
    border: 3px solid #0A3871;
    background-color: #0A3871;
    display: none;
    position: absolute;
    bottom: 6px;
    left: calc(50% - 7.5%);
}

#viga {
    width: 15%;
    height: 0;
    border: 3px solid #0A3871;
    background-color: #0A3871;
    display: none;
    position: absolute;
    bottom: calc(6px + 85%);
    left: calc(50% - 7.5%);
}

#soga {
    width: 0;
    height: calc(15% - 8px);
    border: 3px solid #0A3871;
    background-color: #0A3871;
    display: none;
    position: absolute;
    bottom: calc(70% + 8px);
    left: calc(50% + 7.5%);
}

#cabeza {
    width: calc(15% / 3.304); /*La cabeza me salió ovalada devido a que el monitor es rectangular, si fuera cuadrada seria un circulo perfecto*/
    height: 15%;
    border: 3px solid #0A3871;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: calc(57.5% - 2.5%);
    bottom: calc(70% - 15% + 3px);
}

#torso {
    width: 5px;
    height: 20%;
    border: 3px solid #0A3871;
    background-color: #0A3871;
    display: none;
    position: absolute;
    bottom: 35%;
    left: calc(57.5% - 2.5px);
}

#brazo-izquierdo {
    height: 13%;
    border: 3px solid #0A3871;
    background-color: #0A3871;
    display: none;
    position: absolute;
    left: 56.5%;
    bottom: 41%;
    transform: rotate(25deg);
}

#brazo-derecho {
    height: 13%;
    border: 3px solid #0A3871;
    background-color: #0A3871;
    display: none;
    position: absolute;
    left: 58.5%;
    bottom: 41%;
    transform: rotate(-25deg);
}

#pierna-derecha {
    height: 15%;
    border: 3px solid #0A3871;
    background-color: #0A3871;
    display: none;
    position: absolute;
    left: 58.5%;
    bottom: 21%;
    transform: rotate(-25deg);
}

#pierna-izquierda {
    height: 15%;
    border: 3px solid #0A3871;
    background-color: #0A3871;
    display: none;
    position: absolute;
    left: 56.5%;
    bottom: 21%;
    transform: rotate(25deg);
}

#caja-resultado {
    height: 20%;
}

#botones-opciones {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 10%;
}

#retroceder {
    margin-right: 1.5em;
    font-size: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    width: 25%;
    height: 90px;
    border-radius: 25px;
    color: #0A3871;
    background-color: #E5E5E5;
    border-style: solid;
    border-color: #0A3871;
    cursor: pointer;
    transition: 0.4s transform;
    transition: 100ms border-color background-color;
}

#retroceder:hover{
    transform: scale(1.05);
}

#retroceder:active {
    background-color: #8cadca;
    border-color: rgb(10, 20, 113);
}

#nuevo-juego {
    margin-left: 1.5em;
    font-size: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    width: 25%;
    height: 90px;
    border-radius: 25px;
    color: #E5E5E5;
    background-color: #0A3871;
    border-style: solid;
    border-color: #0A3871;
    cursor: pointer;
    transition: 0.4s transform;
    transition: 100ms border-color background-color;
}

#nuevo-juego:hover{
    transform: scale(1.05);
}

#nuevo-juego:active {
    background-color: rgb(10, 20, 113);
    border-color: rgb(10, 20, 113);
}